#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        back_quate {
            bindings = <&kp GRAVE>;
            key-positions = <0 1>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <11 10>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <7 8>;
        };

        bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <19 20>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <20 21>;
        };

        semi_colon {
            bindings = <&kp SEMICOLON>;
            key-positions = <31 32>;
        };

        single_q {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <32 33>;
        };

        alt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <20 41>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        password_input: password_input {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_1) &kp LS(NUMBER_2) &kp LS(NUMBER_3) &kp LS(W) &kp LS(A) &kp LS(Q) &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp W &kp A &kp Q &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3>;
            label = "PASSWORD_INPUT";
        };

        bt0_mac: bt0_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to 0>;
            label = "BT0_MAC";
        };

        bt1_win: bt1_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to 1>;
            label = "BT1_WIN";
        };

        bt2_iPad: bt2_iPad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &to 0>;
            label = "BT2_IPAD";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_Mac {
            bindings = <
&kp Q             &kp W         &kp E             &kp R  &kp T                                     &kp Y          &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F  &kp G      &kp C_MUTE      &kp EQUAL      &kp H          &kp J  &lt 5 K    &lt 4 L  &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V  &kp B      &mo 6           &kp BACKSLASH  &kp N          &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_COMMAND  &mo 2  &kp SPACE  &kp TAB         &kp BACKSPACE  &kp RIGHT_GUI                             &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        default_Win {
            bindings = <
&kp Q             &kp W         &kp E             &kp R  &kp T                                     &kp Y              &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F  &kp G      &kp C_MUTE      &kp EQUAL      &kp H              &kp J  &lt 5 K    &lt 4 L  &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V  &kp B      &mo 7           &kp BACKSLASH  &kp N              &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &mo 3  &kp SPACE  &kp TAB         &kp BACKSPACE  &kp RIGHT_CONTROL                             &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        Allow_Num_Mac {
            bindings = <
&trans          &kp LG(UP_ARROW)    &kp UP_ARROW    &kp LG(DOWN_ARROW)   &trans                                               &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&kp ESCAPE      &kp LEFT            &kp DOWN_ARROW  &kp RIGHT            &kp LA(RIGHT_ARROW)  &password_input      &kp EQUAL  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS     &kp LS(LG(NUMBER_4))
&kp LEFT_SHIFT  &kp LG(LEFT_ARROW)  &trans          &kp LG(RIGHT_ARROW)  &trans               &kp LG(Q)            &kp SLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &kp RIGHT_SHIFT
&trans          &trans              &trans          &trans               &trans               &trans               &trans     &kp N0                                                  &to 1
            >;
        };

        Allow_Num_Win {
            bindings = <
&trans          &kp PAGE_UP  &kp UP_ARROW    &kp PAGE_DOWN  &trans                                               &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&kp ESCAPE      &kp LEFT     &kp DOWN_ARROW  &kp RIGHT      &kp LC(RIGHT_ARROW)  &password_input      &kp EQUAL  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS     &kp LS(LG(S))
&kp LEFT_SHIFT  &kp HOME     &trans          &kp END        &trans               &kp LA(F4)           &kp SLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &kp RIGHT_SHIFT
&trans          &trans       &trans          &trans         &trans               &trans               &trans     &kp N0                                                  &to 0
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans     &trans                      &trans    &mkp MB4              &mkp MB5               &trans  &trans
&trans  &trans  &trans  &mkp LCLK  &trans  &trans      &trans  &mkp MB2  &mkp MB1              &mo 5                  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans      &trans  &trans    &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans      &trans  &trans                                                         &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &mo 4   &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        SCcon_BT_Func_Mac {
            bindings = <
&none           &kp LC(LG(LEFT))      &kp LC(LA(UP_ARROW))  &kp LG(LC(RIGHT))      &bt0_mac                            &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&bt0_mac        &kp LC(LEFT)          &kp LA(LG(C))         &kp LC(RIGHT)          &bt1_win   &none      &bt BT_SEL 3  &kp F4  &kp F5  &kp F6  &none    &kp F12
&none           &kp LC(LS(LG(LEFT)))  &none                 &kp LS(LC(LG(RIGHT)))  &bt2_iPad  &none      &bt BT_SEL 4  &kp F1  &kp F2  &kp F3  &none    &none
&bt BT_CLR_ALL  &bt BT_CLR            &none                 &none                  &none      &none      &none         &none                            &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        SCcon_BT_Func_Win {
            bindings = <
&none           &none         &kp LG(UP_ARROW)  &none          &bt0_mac                            &kp F7  &kp F8  &kp F9  &kp F10  &kp F11
&bt0_mac        &kp LG(LEFT)  &kp LG(DOWN)      &kp LG(RIGHT)  &bt1_win   &none      &bt BT_SEL 3  &kp F4  &kp F5  &kp F6  &none    &kp F12
&none           &none         &none             &none          &bt2_iPad  &none      &bt BT_SEL 4  &kp F1  &kp F2  &kp F3  &none    &none
&bt BT_CLR_ALL  &bt BT_CLR    &none             &none          &none      &none      &none         &none                            &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };
    };
};
